{% extends 'hospitalisation/Index.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">

                    <ul class="menu-list">
                        <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
                        <li><a href="{% url 'dashboard_Medcins'%}"> Medcines</a></li>
                        <li><a href="{% url 'dashboard_Assistants' %}" >Assistants</a></li>
                        <li><a href="{% url 'dashboard_Patients' %}" class="is-active" >Patients</a></li>
                        <li><a href="{% url 'dashboard_Salles' %}">Salles</a></li>
                        <li><a href="{% url 'dashboard_Hospitalisations' %}">Hospitalisations</a></li>
                        <li><a href="{% url 'dashboard_Matériel' %}"> Ressources matérielles</a></li>

                    </ul>

                </aside>
            </div>
           <div class="column is-9">

                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                               Listes Des Patients.
                            </h1>
                        </div>
                    </div>
                </section>
                <hr>
               <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="subtitle">Ajouter un patient </p>
                                <a href="{% url 'dashboard_ajouter_patient'%}"><button class="button is-info">Ajouter</button> </a>
                                </article>
                        </div>



                    </div>
                </section>
                <div class="card-content">


                                  <form method="GET" action=".">
                                    <div class="form-row">
                                      <div class="form-group col-md-2 col-lg-2">
                                        <label for="Nom_id">Nom :</label>
                                        <input type="text" class="form-control" id="Nom_id" placeholder="..." name="Nom" style="width:150%;">
                                      </div>
                                      </div>

                                    <button  style="        margin-top: 29px;
                                                            margin-left: 50px;
                                                            width: 20%;
                                                            height: 33px;" type="submit" class="button is-success">Chercher</button>
                                  </form>

<br>


                    <div class="card card-body">

			<table class="table table-sm">
				<tr>
					<th>Nom</th>
					<th>Age</th>
					<th>Sexe</th>
					<th>Sang</th>
					<th>Etat</th>
				</tr>

				{% for patient in patients %}
					<tr>
						<td>{{patient.Nom}}</td>
						<td>{{patient.Age}} ans</td>
						<td>{{patient.Sexe}}</td>
						<td><a class="btn btn-sm btn-success" href="#">{{patient.Sang}}</a></td>
                        {% if patient.Etat == 'hospitalisé' %}
						     <td><a class="btn btn-sm btn-danger" href="#">{{patient.Etat}}</a></td>
                        {% else %}
                             <td><a class="btn btn-sm btn-info" href="#">{{patient.Etat}}</a></td>
                        {% endif %}


					</tr>
				{% endfor %}


			</table>
		</div>
                </div>
                </div>
            </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>


{% endblock content %}

